.clientItem {
    margin: 0 !important;
    padding: 10px !important;
    border-right: solid 2px gray;
}
useritem{
    margin: 0;
}
.clientItem:hover {
    cursor: pointer;
}
.aclientItem-active {
    border:solid 2px gray;
    border-right-color: white;
    transition: 0.7s;
}