.clientItem {
    margin: 0 !important;
    padding: 10px !important;
    border-right: solid 3px black;
}
useritem{
    margin: 0;
}
.clientItem:hover {
    cursor: pointer;
}
.aclientItem-active {
    border:solid 3px black;
    border-right-color: white;
    transition: 0.5s;
}